/** Global Settings
---------------------------------------------------------*/
*, body, :root{
    font-family: 'Roboto', sans-serif;
    --font-family-sans-serif: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    box-sizing: border-box;
    color: #404040;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,500,700');

.wrapcenter {
    text-align: center !important;
}
.centeralign {
	margin: 0 auto;
	display: block;
}
.inlineblock {
     display: inline-block;
}
.flow, .float {
    display: inline-block;
    position: relative;
}
/* desktop only break */
	@media (max-width: 992px){
		.break-dsktp{
			display:none;
		}
	}
.container-fluid{
    padding:0;
}
.hero{
    width:100%;
    height:300px;
}
.bgimage {
    background-repeat: no-repeat !important;
    background-position: center top !important;
    background-size:cover !important;
    background-attachment: fixed !important;
}
section:not(:first-child) {
    margin:40px 0;
}
/* font colors */
.bluefont{
    color:#677790;
}
.goldfont{
    color:#EDCB3D;
}
.blackfont{
    color:#404040;
}
.tealfont{
    color:#A3D6D0;
}
.darkgrayfont{
    color:#CDD1CC;
}
.lightgrayfont{
    color:#F5F5F5;
}
.whitefont{
    color:#ffffff;
}

a{
    color:#677790;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* buttons */
.btn{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 700;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 3px 8px rgba(0,0,0,.25);
    color:white !important;
    transition: all .25s ease-in-out;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.btn:hover{
    border: 3px solid white;
    box-shadow: 0 5px 10px rgba(0,0,0,.25);
    transform: scale(1.02);
}
.btn-large{
    padding: 7px 40px;
}
.btn-small{
    padding: 5px 30px;
}
.btn-primary{
    background-color: #677790;
}
.btn-primary:hover{
    background-color: #677790;
}
.btn-primary-ghost{
    background-color: rgba(102, 119, 145, 0.5);
}
.btn-primary-ghost:hover{
    background-color: #677790;
}
.btn-secondary{
    background-color: #EDCB3D;
}
.btn-secondary:hover{
    background-color: #EDCB3D;
}
.btn-tertiary{
    background-color: #A3D6D0;
}
.btn-tertiary:hover{
    background-color: #A3D6D0;
}

/* Forms */

.form_box{
    max-width:700px;
    margin: 0 auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: .5 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    opacity: .5 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    opacity: .5 !important;
}
:-moz-placeholder { /* Firefox 18- */
    opacity: .5 !important;
}
.form-control{
    border-radius: 100px;
}
.form-control:focus {
    color: #404040;
    box-shadow: none;
    border:2px solid #ced4da;
}

/* Bootstrap Alert Style Override */
.alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index:1000;
}

/** END Global Settings
---------------------------------------------------------*/



/** Header + Navigation
---------------------------------------------------------*/

#navbar {
    -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    z-index:999;
}
.desktop-logo{
    width:200px;
    height:auto;
}
.mobile-logo{
    display: none;
}
.nav-link{
    color:#677790 !important;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-nav > li{
  padding-left:45px;
}

/** END Header + Navigation
---------------------------------------------------------*/



/** Typography
---------------------------------------------------------*/


h1{
    line-height: 1.1;
    font-family: 'Roboto Condensed', sans-serif !important;
    margin-bottom:20px;
    color:#677790;
}
h2{
    line-height: 1.1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom:20px;
    color:#677790;
}
h3{
    line-height: 1.1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom:20px;
    color:#677790;
}
h4{
    line-height: 1.1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom:20px;
    color:#677790;
}
h5{
    line-height: 1.1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom:20px;
    color:#677790;
}
h6{
    line-height: 1.1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom:20px;
    color:#677790;
}
p, label{
    color:#404040;
}

legend{
    color:#677790;
}


.hero h1 {
    color:white;
    font-size: 60px;
    text-shadow:0px 3px 15px rgba(0,0,0,.5);
    margin:110px 100px 100px 100px;
}
.hero h2 {
    color:white;
    text-shadow:0px 2px 10px rgba(0,0,0,.5);
}

/** END Typography
---------------------------------------------------------*/



/** Homepage
---------------------------------------------------------*/

#home_hero{
    background: url('/static/media/groceries-hero.jpg');
    width:100%;
    height:550px;
}

#home_hero h1 {
    color:white;
    font-size: 60px;
    text-shadow:0px 3px 15px rgba(0,0,0,.75);
    margin:100px 150px;
}
 #add_recipe_form{
     width:100%;
     height:40px;
 }

 #recipe_url_input{
     margin:0 auto;
     width:50%;
 }
 #recipe_url_submit input{
     padding-left:50px;
     padding-right:50px;
 }
 .btn-loginregister{
     width: 200px;
     margin: 5px;
 }

/* Not currently implemented
#planner_grid{
    margin:30px 30px 50px 30px;
}
.weekday{
    width: calc((100% / 7) - 10px);
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    height: 180px;
    margin:5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/media/shopping-basket-blue.png');
    background-position: center top;
    overflow: hidden;
}
.weekday_name{
    position: absolute;
    background-color: white;
    left:0;
    right:0;
    padding: 5px 0;
    box-shadow: 0 0 7px rgba(0,0,0,.15);
}
.weekday-recipe-btn{
    position: absolute;
    bottom:15px;
    left:10px;
    right:10px;
    padding-left:0;
    padding-right:0;
}
*/

/** END Homepage
---------------------------------------------------------*/



/** About
---------------------------------------------------------*/

#about_hero{
    background: url('/static/media/chopping.jpg');
}

/** END About
---------------------------------------------------------*/



/** Add Recipe
---------------------------------------------------------*/

#add_recipe_hero{
    background: url('/static/media/cutting-board.jpg');
}

/** END Add Recipe
---------------------------------------------------------*/



/** Contact
---------------------------------------------------------*/

#contact_hero{
    background: url('/static/media/cinnamon-roll.jpg');
}

/** END Contact
---------------------------------------------------------*/



/** Shopping List
---------------------------------------------------------*/

#shopping_list_hero{
    background: url('/static/media/veggie-hero.jpg');
}

/** END Grocery List
---------------------------------------------------------*/



/** Help
---------------------------------------------------------*/

#help_hero{
    background: url('/static/media/pasta-dish.jpg');
}

/** END Help
---------------------------------------------------------*/



/** Login
---------------------------------------------------------*/

#login_hero{
    background: url('/static/media/making-pasta.jpg');
}

/** END Login
---------------------------------------------------------*/



/** Profile
---------------------------------------------------------*/

#profile_hero{
    background: url('/static/media/groceries-hero.jpg');
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/** END Profile
---------------------------------------------------------*/



/** Recipes
---------------------------------------------------------*/

#recipes_hero{
    background: url('/static/media/groceries-hero.jpg');
}

/** END Recipes
---------------------------------------------------------*/



/** Weekly Planner List
---------------------------------------------------------*/

#weekly_planner_hero{
    background: url('/static/media/groceries-hero.jpg');
}

/** END Weekly Planner
---------------------------------------------------------*/



/** Mobile/Tablet Styles
---------------------------------------------------------*/
@media (max-width: 992px) {
    /* Homepage */
    #home_hero h1 {
        font-size: 55px;
        margin:50px 0;
    }
    #home_hero{
        height:400px;
    }
    #recipe_url_input {
        width: 70%;
    }

}

@media (max-width: 767px) {
    .navbar-nav > li {
        padding-left: 25px;
    }
    .mobilecenter{
		text-align: center !important;
		float:none !important;
    }
	/* Mobile only break */
	.break-mobile{
	}
    /* Typography */
    #home_hero h1 {
        font-size: 45px;
        margin:25px 0 45px 0;
    }
    /* Homepage */
    #home_hero{
        height:450px;
    }
    #recipe_url_input {
        width: 90%;
    }
    #add_recipe_form{
        width:100%;
    }
    .weekday{
        width: 100% !important;
        margin-bottom: 20px;
    }

}

@media (max-width: 575px) {
    /* Mobile Nav  */
    .desktop-logo{
        display: none;
    }
    .mobile-logo{
        display: block;
        width:70px;
        height:auto;
    }
    .navbar-light .navbar-toggler {
        border:none;
    }
    .fas.fa-bars {
        color:#677790;
        font-size:30px;
    }
    .navbar-nav > li {
        padding-left: 5px;
    }
}

@media (max-width: 320px) {
    /* Homepage */
    #home_hero h1 {
        font-size: 38px;
    }
}

/** END Mobile Styles
---------------------------------------------------------*/



/** Footer
---------------------------------------------------------*/

footer{
    background-color: #F5F5F5;
    padding: 50px 0 30px 0 !important;
}
footer a{
    font-family: 'Roboto Condensed', sans-serif;
}
#footer-menu{
    padding:0;
    margin-bottom: 50px;
    text-align: center;
}

#footer-menu li{
    list-style-type: none;
    display: inline;
    padding: 20px 50px;
    font-weight: 700;
}


/** END Footer
---------------------------------------------------------*/
