{% extends "layout.html" %}
{% block content %}
    <section class="bgimage wrapcenter hero" id="add_recipe_hero">
        <div class="container">
            <div class="row" >
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Add A Recipe</h1>
              </div>
            </div>
        </div>
    </section>
    <section>
      <div class="container">
        <p>{{ new_recipe }}</p>
      </div>
      <div class="container">
        <p>{{ ingredient }}</p>
      </div>
    </section>
{% endblock content %}
